<mat-progress-spinner
*ngIf="!game"
class="example-margin"
[mode]="'indeterminate'">
</mat-progress-spinner>

<app-board [newGameListener]="newGameListener" (reveal)="reveal($event)" (mark)="mark($event)"></app-board>

<div *ngIf="game">
    <p *ngIf="game.won">You won!</p>
    <p *ngIf="game.lost">You lost!</p>
    <p *ngIf="game.solver.safe.length == 0">Can't do anything!</p>
</div>
<button mat-button (click)="game.solve_step()">
    Solve step
</button>
<button mat-button (click)="newGame(16, 16, 40)">
    New game
</button>