<div class="loading-spinner-div" *ngIf="!game">
    <mat-progress-spinner
        class="loading-spinner"
        [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>

<app-header
    *ngIf="game"
    [game]="game"
    (newGame)="newGame(16, 16, 40)"
    (hint)="game.hint()"
    (help)="dialog.openHelp()"
    (autoSolve)="autoSolve()"
    (debugInfo)="debugInfo()">
</app-header>

<app-board
    [newGameListener]="newGameListener"
    (reveal)="reveal($event)"
    (mark)="mark($event)">
</app-board>

<app-dialog (newGame)="newGame(16, 16, 40)"></app-dialog>

<!-- <button (click)="gameEnd(true)">Win</button>
<button (click)="gameEnd(false)">Lose</button> -->