<mat-accordion class="header">
    <mat-expansion-panel class="mat-elevation-z4">
        <mat-expansion-panel-header>
            <mat-panel-description>
                <button mat-button (click)="this.newGame.next(null)">
                    <mat-icon>refresh</mat-icon>New game
                </button>
                <button mat-button (click)="this.hint.next(null)">
                    <mat-icon>star</mat-icon>Hint
                </button>
                <button mat-button (click)="this.hint.next(null)">
                    <mat-icon>replay</mat-icon>Undo
                </button>
                <button mat-button (click)="this.help.next(null)">
                    <mat-icon>help</mat-icon>Help
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-button (click)="this.autoSolve.next(null)">
            <mat-icon>precision_manufacturing</mat-icon>Auto-solve
        </button>
        <button mat-button (click)="this.debugInfo.next(null)">
            <mat-icon>bug_report</mat-icon>Debug info
        </button>
    </mat-expansion-panel>
</mat-accordion>



