.game-tile {
    min-width: 0px;
    font-size: 50px;
}

.game-tile-1 {
    color: blue
}

.game-tile-hidden {
    background-color: #777DA7;
    color: #777DA7;
}

.game-tile-blank {
    background-color: white;
    color: white;
}