.game-tile {
    user-select: none;
    display: inline-block;
    width: 52px;
    text-align: center;
    font-size: 50px;
    line-height: 52px;
    margin: 0px;

    /* Prevent text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.game-tile-1 {
    color: #2D7DD2
}

.game-tile-2 {
    color: #BE8B89
}

.game-tile-3 {
    color: #7DB030
}

.game-tile-4 {
    color: #E08E45
}

.game-tile-5 {
    color: #FE6D73
}

.game-tile-6 {
    color: #C41508
}

.game-tile-7 {
    color: #F41FFF
}

.game-tile-8 {
    color: #FB3640
}

.game-tile-hidden {
    background-color: #777DA7;
    color: #777DA7;
    border-radius: 5px 5px 5px;
    width: 50px;
    border: 1px solid #404463;
}

.game-tile-blank {
    color: transparent;
}

.game-tile-mark1 {
    color: #4E148C
}

.game-tile-mark2 {
    color: #873D48
}

.game-tile-mine {
    color: red
}

.game-tile-icon {
    // vertical-align: ;
}

.icon {
    line-height: 22px;
    vertical-align: middle;
    transform: scale(2);
}